extends ./layouts/layout
block mc
  header
    Welcome message
    #notification
  #host.hidden
    #question_content
      h2 Question
        span#question_no
      p#question_txt
      p#answer_txt
    ul.question.full-screen-absolute
      - var n = 0
      while n < 9
        - n++
        li.question-box(data-qid=n)
          span.status(status="0")= n
  script(src='javascripts/mc-actions.js')
