* { margin: 0; padding: 0; box-sizing: border-box; }

body { font: 13px Helvetica, Arial; color: #CBEFEC; text-shadow: -1px 0px 15px rgba(203,239,236,0.4), 0px 1px 15px rgba(203,239,236,0.4), 1px 0px 15px rgba(203,239,236,0.4), 0px -1px 15px rgba(203,239,236,0.4); }


/*helper style*/
.full-screen-absolute { position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
.flex-align-center { display: flex; justify-content: center; align-items: center; }
.hidden { display: none; }
.border { border: 1px solid #CBEFEC; box-shadow: 0px 0px 10px 1px #00FFFF, inset 0px 0px 10px 1px #00FFFF; }
#notification { margin: 10% auto; color: #f45b5b; text-shadow: 0px 0px 15px #FF0000;}
#notification .border { width: 20%; border: 1px solid #f45b5b; box-shadow: 0px 0px 10px 1px #FF0000, inset 0px 0px 10px 1px #FF0000; margin: 5% auto 0;}
.faded-border {box-shadow: 0px 0px 5px 1px rgba(0,255,255,0.5), inset 0px 0px 5px 1px rgba(0,255,255,0.5)}
/*main style*/
.question { display:flex; justify-content: center; list-style: none; text-align: center; }
.question .question-box { text-shadow: none;}
.question .question-box[bingo] { color: #fff; content: ""; position: absolute; background-image: url(../img/circle2.png); background-size: cover; background-size: 60% 60%; background-position: center; background-repeat: no-repeat; text-shadow: none;}
.question .question-box .status[status="0"] { color: #fff; text-shadow: -1px 0px rgba(0,255,255,0.5), 0px 1px rgba(0,255,255,0.5), 1px 0px rgba(0,255,255,0.5), 0px -1px rgba(0,255,255,0.5);}
.question .question-box.circle { content: ""; position: absolute; background-image: url(../img/circle.png); background-size: cover; background-size: 60% 60%; background-position: center; background-repeat: no-repeat;}
.question .question-box .status[status="1"] { text-shadow: -1px 0px 1px #00FFFF, 0px 1px 1px #00FFFF, 1px 0px 1px #00FFFF, 0px -1px 1px #00FFFF; }
.question .question-box .status[status="2"] { color: rgba(203,239,236,0.4); }
.question.playing .question-box .status:not([status="1"]) { color: rgba(203,239,236,0.4); }
/*mc site style*/
#host #question_content { text-align: center; padding-top: 15px;}
#host .question { font-size: 30px; top: 50%; bottom: 40%;}
#host .question .question-box { font-weight: 700; width: 5%; cursor: pointer; }

/*user site style*/
#play .question { position: absolute; top: 15%; flex-wrap: wrap; font-size: 3rem; height: 50%; width: 100%; box-sizing: border-box; padding: 5%;}
#play .question .question-box { position: relative; width: 25%; max-height: 150px; max-width: 150px; min-width: 90px; min-height: 90px; font-weight: 600;}
#play #player_info { padding: 15px; }
#play .message { text-align: center; width: 80%; margin: 0 auto; }
#play .message img { width: 60%; }
#play .message p { font-size: 1rem; margin: 10px 0 0 0;}
#play .answer { position: absolute; bottom: 0; left: 0; right: 0; }
#play .answer .options { display: flex; justify-content: center; list-style: none; }
#play .answer .options div { width: 100%; }
#play .answer .options div label { height: 50px; background: rgba(0,72,92,0.5); width: 100%; }
#play .answer .options div label img { width: 15%; }
#play .answer .options div input[type="radio"]:checked + label { background: rgba(0,72,92,0.8); }
#play .answer .options div input[type="radio"] { display: none; }
#play .answer .instruction { text-align: center; position: absolute; top: -30%;}
#play .answer .instruction img { width: 30%; }
#play .answer .submit { width: 40%; margin: 5% auto;}
#play .answer .submit img { width: 70%;}

@media screen and (max-width: 768px) {
    body { background: url('../img/user/bg1.jpg'); background-size: cover; }
    .backgorund2 { background: url('../img/user/bg2.jpg'); background-size: cover; content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;}
    .border { box-sizing: border-box; padding: 4%; margin: 0 auto; text-align: center;}
    .border img { width: 100%; }
    header { flex-wrap: wrap; }
    header > div { text-align: center; }
    .title { width: 65%;}
    .start { width: 60%; margin: 10% auto; }
}

/*mc site style*/
#host {
    margin-top: -22%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#host #question_content { text-align: center;}
#host .question { font-size: 50px; top: 50%; bottom: 40%;}
#host .question .question-box { font-weight: 700; width: 5%; cursor: pointer; }
video { 
    position: fixed;
    top: 83%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
    /*opacity: 0.8;*/
}

header.mc-board-header {
   /* background-image: url(../img/mc/start-bg.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;*/
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 100;
}

#starter-host-logo {
    position: fixed;
    top: -15%;
    left: 30%;
    width: 39%;
}

#host-logo {
    position: fixed;
    top: -6%;
    left: 2%;
    width: 15%;
}

#host ul {
    display: flex;
    justify-content: space-around;
    padding: 0 10%
}

/*circle mc*/

