* {
    margin              : 0;
    padding             : 0;
    box-sizing          : border-box;
}
body {
    font               : 13px Helvetica, Arial;
    color              : #CBEFEC;
    text-shadow        : 0px 0px 15px #00FFFF;
    overflow           : hidden;
    position           : relative;
}

.mc_questions .question_mc_box .status[status="0"] {
    color: #fff;
    text-shadow        : -1px 0px 50px #00FFFF,
                         0px 1px 50px #00FFFF,
                         1px 0px 50px #00FFFF,
                         0px -1px 50px #00FFFF;
        }

.mc_questions .question_mc_box .status[status="2"] {
    color              : gray;
    text-shadow        : none;
}

video#bgvid {
    position           : fixed;
    top                : 83%;
    left               : 50%;
    min-width          : 100vw;
    min-height         : 100vh;
    width              : auto;
    height             : auto;
    z-index            : -100;
    transform          : translateX(-50%) translateY(-50%);
    background-size    : cover;
    /*opacity: 0.8;*/
}

.mc_board_header {
    height             : 100vh;
    width              : 100vw;
    position           : absolute;
    top                : 0px;
    left               : 0px;
}

#starter_host_logo {
    position           : fixed;
    top                : -15%;
    left               : 30%;
    width              : 39%;
}

#host_logo {
    position           : fixed;
    top                : -6%;
    left               : 2%;
    width              : 15%;
}

#mc_q_wrapper {
    height             : 59vh;
    display            : flex;
    flex-direction     : column;
    justify-content    : flex-end;
    align-items        : center;
}

#host #mc_q_wrapper ul {
    display            : flex;
    justify-content    : space-around;
    padding            : 0 10%;
    width              : 100vw;
    list-style         : none;
    font-size          : 40px;
}

#shadow {
    position           : fixed;
    top                :0;
    left               : 0;
    background-color   : #09101a;
    box-shadow         : 0 52px 107px 101px #09101a;
    height             : 31%;
    width              : 100vw;
    z-index            : -50;
}

.question_mc_box {
    width              : 80px;
    height             : 80px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    position           : relative;

}
.circle{
    position           : absolute;
    width              : 80px;
    height             : 80px;
    border-radius      : 50px;
    border             : dotted 6px;
    animation          : spin 2s linear infinite;
}

@keyframes spin {
    0% { transform     : rotate(0deg); }
    100% { transform   : rotate(360deg); }
}